body{
    margin: 0;
    padding: 0;
}
nav.menu {
    background: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}
.divmenu.ajustemenu {
    display: flex;
    gap: 2rem;
    margin-left: 25rem;
}
img.imgmenu {
    width: 3%;
}
a.titulomenu {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}
li{
    list-style-type: none;
}
i.fa-brands.fa-github.icon-menu, i.fa-brands.fa-linkedin.icon-menu, i.fa-solid.fa-envelope.icon-menu, i.fa-brands.fa-whatsapp.icon-menu {
    color: #fff;
    font-size: 1.8rem;
    margin-right: 1rem;
}
.divgeral {
    display: flex;
    gap: 1rem;
    padding: 1rem 3rem;
    background: #272727;
    height: 72vh;
}
img.imgray {
    width: 90%;
    border-radius: 2%;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div1 h3, div#minhasexperiencias h3, div#minhaformacao h3, .divhabi h3 {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
}
.div1 h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffffff;
    margin: 0.3rem;
}
p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 400;
    padding-right: 20rem;
}
footer {
    background: #1c1c1c;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    padding: 1.2rem 0;
}
div.geralexpe, .divhabi{
    background: #272727;
    padding: 1rem 3rem;
}
div#minhasexperiencias h4, div#minhaformacao h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.2rem;
    color: #ffffff;
}
div#minhasexperiencias p, div#minhaformacao p {
    padding-right: 8rem;
}
.divexpe {
    padding-top: 1.3rem;
    width: 70%;
}
.geralhabi {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}
p.phabilidade{
    padding-right: 0rem;
}